{% extends 'index.html' %}
{% load static %}
{% block title %}All Quizzes - BrainBunny{% endblock title %}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'css/all_quiz.css' %}">

</head>
<body>
	<h1 class="display-4 text-center my-5">All Quizzes</h1>


	<div class="container">
		<div class="d-flex flex-wrap">
			<a href="{% url 'all_quiz' %}" class="btn btn-sm btn-light m-1">All Quiz</a>
			{% for category in categories %}
			<a href="{% url 'search' category.name %}" class="btn btn-sm btn-light m-1">{{category.name}}</a>
			{% endfor %}
		</div>
	</div>

	<form class="container d-flex my-4" role="search" method="get" action="{% url 'search' ' ' %}" >
		<input name="q" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
		<a href="#" type="submit" class="btn btn-primary ms-2">Search</a>
	</form>

	<div class="container">

		<div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 g-3">
			{% if quizzes|length > 0 %}
			{% for quiz in quizzes %}
    <div class="col">
        <div class="card shadow-sm quiz-information-container">
            <div class="card-body">
                <div class="information-container">
					<div class="quiz-title-container">{{quiz.title}}</div>
					<div class="number-container">
		
						<span class="number-text">{{quiz.question_set.all|length}}</span>
						<input type="hidden" value="{{quiz.question_set.all|length}}" class="total-questions">
						<div class="questions-text">Questions</div>
					</div>
					<div class="timer-container">
		
						<span class="timer timer-value">{{quiz.quizTimer}}</span>
						<!-- <span class="timer">00:00</span> -->
						<div class="timer-text">Minutes</div>
					</div>
					
				</div>
                <div class="d-flex justify-content-between align-items-center">
                    {% with quiz_submission=quiz.quizsubmission_set.first %}
                        {% if quiz_submission %}

							<div>Score: <span class="focus-text">{{ quiz_submission.score }}</span></div>
                            <input type="hidden" value="{{quiz_submission.score}}" class="score-value">
							<!-- Display other details from quiz_submission if needed -->
                        {% else %}
                            <div>Status: <span class="focus-text">Not taken</span></div>
                        {% endif %}
                    {% endwith %}
                    <div class="btn-group">
                        <a href="{% url 'quiz' quiz.id %}" type="button" class="btn btn-primary">Take Exam</a>
                    </div>
                </div>
            </div>
			<div class="score-progress-container">
				<div class="score-progress-value"></div>
			</div>
        </div>
    </div>
{% endfor %}

			{% else %}
			<div class="col-lg-12 col-md-12 col-12">
				<p class="text-center text-danger fs-5">There is no quiz available for this category or search.</p>
			</div>
			{% endif %}
		</div>
	</div>
	<script src="{% static 'js/all_quiz.js' %}">

	</script>
</body>


{% endblock content %}