
{% load static %}

<html>
<head>

	
    <link rel="stylesheet" href="{% static 'assets/css/libs.bundle.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/theme.bundle.css' %}" />
	<link rel="stylesheet" href="{% static 'assets/css/contact.css' %}">

    <!-- Favicon  -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/images/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/images/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/images/favicon/favicon-16x16.png' %}">
    <link rel="mask-icon" href="{% static 'assets/images/favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
  <title>Contact us - Prep point</title>

</head>	
	<body>
		{% include 'components/navbar.html' %}
		
		{% include 'messages.html' %}
		<!-- Contact Details & Form-->
		<div class="container">

			<div class="row gx-10 pt-5 pb-10">
				<!-- Contact Form-->
			<div class="col-12 col-lg-8">
				<p class="mb-3 small fw-bolder tracking-wider text-uppercase text-primary">Get in touch</p>
				<h2 class="display-5 fw-bold mb-6">Send us a message</h2>
				
				<form method="POST" id="contact-form">
					{% csrf_token %}
					<div class="row g-5">
						<!-- Name-->
						<div class="col-12 col-md-6">
							<label class="form-label">Name <span class="required-symbol">*</span></label>
							<input type="text" class="form-control" name="name" required>
						</div>
						<!-- / Name-->

						<!-- Email-->
						<div class="col-12 col-md-6">
							<label class="form-label">Email <span class="required-symbol">*</span></label>
							<input type="email" class="form-control" name="email" required>
						</div>
						<!-- / Email-->

					  

						<!-- Telephone-->
						<div class="col-12 col-md-6">
							<label class="form-label">Telephone <span >(optional)</span></label>
							<input type="text" class="form-control" name="telephone">
						</div>
						<!-- / Telephone-->
						  <!-- Company Name-->
						  <div class="col-12 col-md-6">
							<label class="form-label">Subject <span class="required-symbol">*</span></label>
							<input type="text" class="form-control" name="subject" required>
						</div>
						<!-- / Company Name-->
						<!-- Project Information-->
						<div class="col-12">
							<label class="form-label">Message <span class="required-symbol">*</span></label>
							<textarea name="about" class="form-control" cols="30" rows="10" required></textarea>
						</div>
						<!-- / Project Information-->

						<!-- Submit btn-->
						<div class="col-12 justify-content-end d-flex">
							<button class="btn btn-primary" type="submit">Send Message</button>
						</div>
						<!-- / Submit Btn-->
					</div>
				</form>
			</div>
			<!-- / Contact Form-->
			<!-- Contact Details-->
			<div class="col-12 col-lg-4 mt-5 mt-lg-0">
				<div class="mb-5">
					<p class="mb-4 small fw-bolder tracking-wider text-uppercase text-primary">Find us online</p>
					<ul class="list-unstyled">
						<li class="d-flex align-items-center mb-2">
							<a target="_blank" class="text-muted" href="https://t.me/preppointtg">
							<svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 24 24"><path fill="#2c4bff" d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10s10-4.48 10-10S17.52 2 12 2m4.64 6.8c-.15 1.58-.8 5.42-1.13 7.19c-.14.75-.42 1-.68 1.03c-.58.05-1.02-.38-1.58-.75c-.88-.58-1.38-.94-2.23-1.5c-.99-.65-.35-1.01.22-1.59c.15-.15 2.71-2.48 2.76-2.69a.2.2 0 0 0-.05-.18c-.06-.05-.14-.03-.21-.02c-.09.02-1.49.95-4.22 2.79c-.4.27-.76.41-1.08.4c-.36-.01-1.04-.2-1.55-.37c-.63-.2-1.12-.31-1.08-.66c.02-.18.27-.36.74-.55c2.92-1.27 4.86-2.11 5.83-2.51c2.78-1.16 3.35-1.36 3.73-1.36c.08 0 .27.02.39.12c.1.08.13.19.14.27c-.01.06.01.24 0 .38"/></svg> Telegram</a></li>
						<li class="d-flex align-items-center mb-2">
							<a target="_blank" class="text-muted" href="https://instagram.com/prep_point_">
							<svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 24 24"><path fill="#2c4bff" d="M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8C4 18.39 5.61 20 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6C20 5.61 18.39 4 16.4 4zm9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 17.25 8A1.25 1.25 0 0 1 16 6.75a1.25 1.25 0 0 1 1.25-1.25M12 7a5 5 0 0 1 5 5a5 5 0 0 1-5 5a5 5 0 0 1-5-5a5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3"/></svg> Instagram</a></li>
						
						<li class="d-flex align-items-center mb-2">
							<a target="_blank" class="text-muted" href="mailto:preppointer@gmail.com">
							<svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 24 24"><path fill="#2c4bff" d="M4 20q-.825 0-1.412-.587T2 18V6q0-.825.588-1.412T4 4h16q.825 0 1.413.588T22 6v12q0 .825-.587 1.413T20 20zm8-7L4 8v10h16V8zm0-2l8-5H4zM4 8V6v12z"/></svg> Email</a></li>
						<li class="d-flex align-items-center mb-2">
							<a target="_blank" class="text-muted" href="https://www.facebook.com/share/V8XUGLqxAoDH3ray/?mibextid=qi2Omg">
							<svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 24 24"><path fill="#2c4bff" d="M22 12c0-5.52-4.48-10-10-10S2 6.48 2 12c0 4.84 3.44 8.87 8 9.8V15H8v-3h2V9.5C10 7.57 11.57 6 13.5 6H16v3h-2c-.55 0-1 .45-1 1v2h3v3h-3v6.95c5.05-.5 9-4.76 9-9.95"/></svg> Facebook</a></li>
					</ul>
				</div>
				<p class="mb-4 small fw-bolder tracking-wider text-uppercase text-primary">alternative method</p>
				<p>You can contact us on telegram using <a target="_blank" href="https://t.me/preppointsupport">@preppointsupport</a>.</p>
			</div>
			<!-- / Contact Details-->
		</div>
		<!-- Contact Details & Form-->
		
	</div>

	<!-- /Page Content -->
{% include 'components/footer.html' %}
  
<script src="{% static 'assets/js/theme.bundle.js' %}"></script>
<script src="{% static 'assets/js/vendor.bundle.js' %}"></script>

<script src="{% static 'assets/js/contact.js' %}"></script>

</body>
</html>


		