
{% load static %}

<html>
<head>

	
    <link rel="stylesheet" href="{% static 'assets/css/libs.bundle.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/theme.bundle.css' %}" />
	<link rel="stylesheet" href="{% static 'assets/css/contact.css' %}">

    <!-- Favicon  -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/images/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/images/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/images/favicon/favicon-16x16.png' %}">
    <link rel="mask-icon" href="{% static 'assets/images/favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
  <title>Contact us - Prep point</title>

</head>	
	<body>
		{% include 'components/navbar.html' %}
		
		<!-- Contact Details & Form-->
		<div class="container">

			<div class="row gx-10 pt-5 pb-10">
				<!-- Contact Form-->
			<div class="col-12 col-lg-8">
				<p class="mb-3 small fw-bolder tracking-wider text-uppercase text-primary">Get in touch</p>
				<h2 class="display-5 fw-bold mb-6">Send us a message</h2>
				{% for message in messages %}
				<div>{{message}}</div>
				{% endfor %}
				<form method="POST" id="contact-form">
					{% csrf_token %}
					<div class="row g-5">
						<!-- Name-->
						<div class="col-12 col-md-6">
							<label class="form-label">Name <span class="required-symbol">*</span></label>
							<input type="text" class="form-control" name="name" required>
						</div>
						<!-- / Name-->

						<!-- Email-->
						<div class="col-12 col-md-6">
							<label class="form-label">Email <span class="required-symbol">*</span></label>
							<input type="email" class="form-control" name="email" required>
						</div>
						<!-- / Email-->

					  

						<!-- Telephone-->
						<div class="col-12 col-md-6">
							<label class="form-label">Telephone <span >(optional)</span></label>
							<input type="text" class="form-control" name="telephone">
						</div>
						<!-- / Telephone-->
						  <!-- Company Name-->
						  <div class="col-12 col-md-6">
							<label class="form-label">Subject <span class="required-symbol">*</span></label>
							<input type="text" class="form-control" name="subject" required>
						</div>
						<!-- / Company Name-->
						<!-- Project Information-->
						<div class="col-12">
							<label class="form-label">Message <span class="required-symbol">*</span></label>
							<textarea name="about" class="form-control" cols="30" rows="10" required></textarea>
						</div>
						<!-- / Project Information-->

						<!-- Submit btn-->
						<div class="col-12 justify-content-end d-flex">
							<button class="btn btn-primary" type="submit">Send Message</button>
						</div>
						<!-- / Submit Btn-->
					</div>
				</form>
			</div>
			<!-- / Contact Form-->
			<!-- Contact Details-->
			<div class="col-12 col-lg-4 mt-5 mt-lg-0">
				<div class="mb-5">
					<p class="mb-4 small fw-bolder tracking-wider text-uppercase text-primary">Find us online</p>
					<ul class="list-unstyled">
						<li class="d-flex align-items-center mb-2"><i class="ri-github-line me-3 ri-lg"></i> <a class="text-muted" href="#">Github</a></li>
						<li class="d-flex align-items-center mb-2"><i class="ri-facebook-line me-3 ri-lg"></i> <a class="text-muted" href="#">Facebook</a></li>
						<li class="d-flex align-items-center mb-2"><i class="ri-twitter-line me-3 ri-lg"></i> <a class="text-muted" href="#">Twitter</a></li>
						<li class="d-flex align-items-center mb-2"><i class="ri-codepen-line me-3 ri-lg"></i> <a class="text-muted" href="#">Codepen</a></li>
					</ul>
				</div>
				<p class="mb-4 small fw-bolder tracking-wider text-uppercase text-primary">Our head office</p>
				<p>33 Sandhurst Road, Canterbury Avenue, Central London, SM3 4RT, United Kingdom</p>
			</div>
			<!-- / Contact Details-->
		</div>
		<!-- Contact Details & Form-->
		
	</div>

	<!-- /Page Content -->
{% include 'components/footer.html' %}
  
<script src="{% static 'assets/js/theme.bundle.js' %}"></script>
<script src="{% static 'assets/js/vendor.bundle.js' %}"></script>

<script src="{% static 'assets/js/contact.js' %}"></script>

</body>
</html>


		