{% load static %}


<!doctype html>
<html>

<head>
<title>{{quiz.title}} - Preppoint</title>
<link rel="stylesheet" href="{% static 'assets/css/libs.bundle.css' %}" />
<link rel="stylesheet" href="{% static 'assets/css/theme.bundle.css' %}" />
<link rel="stylesheet" href="{% static 'assets/css/quiz.css' %}">
<script type="text/javascript" src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>
    {% include 'components/navbar.html' %}

    <input type="hidden" id="timerSwitch_value" value="{{ quiz_settings.timerSwitch }}">
    <input type="hidden" id="quizChoiceFormat_value" value="{{ quiz_settings.quiz_choice_format }}">
    <input type="hidden" id="quizQuestionFormat_value" value="{{ quiz_settings.quiz_question_format }}">
    <input type="hidden" id="answeringFormat_value" value="{{ quiz_settings.answering_format }}">
    <input type="hidden" id="quiz-timer" value="{{ quizTimer }}">

<!-- back to top button  -->

<div id="progress">
    <span id="top-progress-value"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="currentColor" d="M13 20h-2V8l-5.5 5.5l-1.42-1.42L12 4.16l7.92 7.92l-1.42 1.42L13 8v12Z"/></svg>
    </span>
</div>

<div id="timer-progress">
    <span id="timer-progress-value"><span class="timer" style="font-weight: 500"></span>
    </span>
</div>

    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <div class="container">
                <div class="content-container">

                    <div class="circular-progress">

                        <span class="progress-value">0%</span>
                    </div>

                    <span class="text">SCORE</span>
                </div>

                <div class="content-container">

                    <div class="circular-progress">
                <span class="progress-value">
                    <span class="timer">—:—</span>

                </span>
            </div>

            <span class="text">TIME LEFT</span>
        </div>
            </div>
            <div id="score-div">
                <p class="score"></p>
            </div>

      </div>
      </div>

    <div class="container pb-10">
        <div id="information-container">
            <div id="quiz-title-container">{{quiz.title}}</div>
            <div id="number-container">

                <span id="number-text">{{quiz.question_set.all|length}}</span>
                <div id="questions-text">QUESTIONS</div>
            </div>
            <div id="timer-container">

                <span class="timer timer-value">—:—</span>
                <!-- <span class="timer">00:00</span> -->
                <div id="timer-text">TIMER</div>
            </div>
            <div class="score">
            </div>
        </div>


        <!-- javascript score message  -->




        <form method="post" id="quiz-form" autocomplete="off">
            {% csrf_token %}


            <div class="questions my-4">
                {% for question in quiz.question_set.all %}
                <div class="card mb-2 question">

                    <div class="card-body">

                    <p class="card-text question-text">{{forloop.counter}}. {{question.text|safe}}</p>
                        {% for option in question.choice_set.all %}

                        <div class="form-check">
                            <label class="form-check-label" for="{{option.id}}">
                                <input class="form-check-input" value="{{option.text}}" type="radio" name="{{option.question.id}}" id="{{option.id}}">
                                <span data-letter="{{forloop.counter}}" class="choice-letter"></span><span class="choice-text">{{option.text|safe}}</span>
                            </label>
                            {% if option.is_correct %}
                            <span class="visually-hidden correct-answer">{{option.text}}</span>
                            {% endif %}
                        </div>
                        {% endfor %}
                        {% for explanation in question.explanation_set.all%}

                    <div class="explanation hidden">Explanation: {{explanation.text|safe}}</div>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
            <!-- hidden input field for score -->
            <input type="hidden" name="score" value="0" id="user-score">

            <!-- submit button -->
            <button type="submit" class="btn btn-primary" id="submit-button">Submit the quiz</button>
        </form>

    </div>


    <script src="{% static 'assets/js/theme.bundle.js' %}"></script>
    <script src="{% static 'assets/js/vendor.bundle.js' %}"></script>
    <script src="{% static 'assets/js/quiz.js'%}"></script>
    <!-- Theme JS -->
    <!-- Vendor JS -->



</body>
</html>
