{% load static %}

<footer class="bg-dark pt-5 pb-8  ">
    
    <!-- <div class="container">
        <div class="border-bottom border-white-10 pb-7">
            <div class="col-12 col-md-8 col-lg-6 d-flex mx-auto flex-column align-items-center justify-content-center">
                <h2 class="fs-1 fw-bolder text-white text-center">Try Prep point and take your first exam risk free with unlimited features.</h2>
                <a href="#" class="btn btn-primary mt-3 w-100 w-md-auto" role="button">Get Started</a>
            </div>
        </div>
    </div> -->

    <!-- Footer Menus-->
    <div class="container pt-7">

        <div class="d-flex flex-column flex-md-row justify-content-md-between align-items-center">

            <!-- Footer Logo-->
            <a class="d-flex align-items-center lh-1 text-white transition-opacity opacity-50-hover text-decoration-none mb-4 mb-md-0"
                href="{% url 'home' %}">
                <!-- Logo SVG Icon-->
                <span class="f-w-7 d-block text-success me-2">
                    <img src="{% static 'assets/images/logo.svg' %}">
                </span>
                <!--/ Logo SVG Icon -->
                <span class="fw-bold">Prep point</span>
            </a>
            <!-- /Footer Logo-->


            <!-- Footer socials-->
            <ul class="list-unstyled d-flex align-items-center justify-content-center flex-wrap">

                <li class="ms-5 mb-2"><a target="_blank" href="https://t.me/preppointtg" class="text-white text-decoration-none opacity-50-hover transition-opacity"><svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 24 24"><path fill="currentColor" d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10s10-4.48 10-10S17.52 2 12 2m4.64 6.8c-.15 1.58-.8 5.42-1.13 7.19c-.14.75-.42 1-.68 1.03c-.58.05-1.02-.38-1.58-.75c-.88-.58-1.38-.94-2.23-1.5c-.99-.65-.35-1.01.22-1.59c.15-.15 2.71-2.48 2.76-2.69a.2.2 0 0 0-.05-.18c-.06-.05-.14-.03-.21-.02c-.09.02-1.49.95-4.22 2.79c-.4.27-.76.41-1.08.4c-.36-.01-1.04-.2-1.55-.37c-.63-.2-1.12-.31-1.08-.66c.02-.18.27-.36.74-.55c2.92-1.27 4.86-2.11 5.83-2.51c2.78-1.16 3.35-1.36 3.73-1.36c.08 0 .27.02.39.12c.1.08.13.19.14.27c-.01.06.01.24 0 .38"/></svg></a></li>



                <li class="ms-5 mb-2"><a target="_blank" href="https://instagram.com/prep_point_" class="text-white text-decoration-none opacity-50-hover transition-opacity"><svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 24 24"><path fill="currentColor" d="M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8C4 18.39 5.61 20 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6C20 5.61 18.39 4 16.4 4zm9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 17.25 8A1.25 1.25 0 0 1 16 6.75a1.25 1.25 0 0 1 1.25-1.25M12 7a5 5 0 0 1 5 5a5 5 0 0 1-5 5a5 5 0 0 1-5-5a5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3"/></svg></a></li>

                <li class="ms-5 mb-2"><a target="_blank" href="mailto:preppointer@gmail.com" class="text-white text-decoration-none opacity-50-hover transition-opacity"><svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 24 24"><path fill="currentColor" d="M4 20q-.825 0-1.412-.587T2 18V6q0-.825.588-1.412T4 4h16q.825 0 1.413.588T22 6v12q0 .825-.587 1.413T20 20zm8-7L4 8v10h16V8zm0-2l8-5H4zM4 8V6v12z"/></svg></a></li>

                <li class="ms-5 mb-2"><a target="_blank" href="https://www.facebook.com/share/V8XUGLqxAoDH3ray/?mibextid=qi2Omg" class="text-white text-decoration-none opacity-50-hover transition-opacity"><svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 24 24"><path fill="currentColor" d="M22 12c0-5.52-4.48-10-10-10S2 6.48 2 12c0 4.84 3.44 8.87 8 9.8V15H8v-3h2V9.5C10 7.57 11.57 6 13.5 6H16v3h-2c-.55 0-1 .45-1 1v2h3v3h-3v6.95c5.05-.5 9-4.76 9-9.95"/></svg></a>
                </li>
                
            </ul>
            <!-- Footer socials-->
        </div>

        <div class="d-flex flex-wrap justify-content-between mt-5 mt-lg-7">

            <!-- Menu-->
            <div class="w-100 w-sm-50 w-lg-auto mb-4 mb-lg-0">
                <h6 class="text-uppercase fs-xs fw-bolder tracking-wider text-white opacity-50">Features</h6>
                <ul class="list-unstyled footer-nav">
                    <li><a href="/#features">Unit Filter <span class="badge bg-primary rounded ms-2 align-middle">beta</span></a></li>
                    <li><a href="/#features">Score Calculation</a></li>
                    <li><a href="/#features">Timer Control</a></li>
                    <li><a href="/#features">Detailed Solutions</a></li>
                    <li><a href="/#features">Answer Reveal Options<span class="badge bg-danger rounded ms-2 align-middle">new</span></a>
                        
                    </li>
                </ul>
            </div>
            <!-- /Menu-->

            <!-- Menu-->
            <div class="w-100 w-sm-50 w-lg-auto mb-4 mb-lg-0">
                <h6 class="text-uppercase fs-xs fw-bolder tracking-wider text-white opacity-50">Quick links</h6>
                <ul class="list-unstyled footer-nav">
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Exams</a></li>
                    <li><a href="#">Settings</a></li>
                    <li><a href="#">Leaderboard</a></li>
                    <li><a href="#">Blogs</a></li>
                </ul>
            </div>
            <!-- /Menu-->

            <!-- Menu-->
            <div class="w-100 w-sm-50 w-lg-auto mb-4 mb-lg-0">
                <h6 class="text-uppercase fs-xs fw-bolder tracking-wider text-white opacity-50">Navigation</h6>
                <ul class="list-unstyled footer-nav">
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Register</a></li>
                    <li><a href="#">Help & support</a></li>
                    <li><a href="#">Contact us</a></li>
                    <li><a href="#">Forgotten password</a></li>
                </ul>
            </div>
            <!-- /Menu-->

            <!-- Menu-->
            <div class="w-100 w-sm-50 w-lg-auto mb-4 mb-lg-0">
                <h6 class="text-uppercase fs-xs fw-bolder tracking-wider text-white opacity-50">Legals</h6>
                <ul class="list-unstyled footer-nav">
                    <li><a href="#">Privacy policy</a></li>
                    <li><a href="#">Terms & conditions</a></li>
                    <li><a href="#">Cookie policy</a></li>
                    <li><a href="#">Report a problem</a></li>
                    <li><a href="#">Manage my data</a></li>
                </ul>
            </div>
            <!-- /Menu-->

        </div>
    </div>
    <!-- Footer Menus-->

    <!-- Footer bottom-->
    <div class="container">
        <div class="border-top pt-6 mt-7 border-white-10 d-flex flex-column flex-md-row justify-content-between align-items-center">
            <span class="small text-white opacity-50 mb-2 mb-md-0">All rights reserved &copy Prep point 2024</span>
            <span class="small text-white opacity-50">Terms of service  |  Security policy</span>
        </div>
    </div>
    <!-- Footer bottom-->

</footer>